/* section banner */

.banner-bg {
    height: 600px;
    background-image: url('../img/foto1.png');
    background-position: center;
    background-size: cover;
}

.banner-cont {
    padding-top: 180px;
}

.banner-text h1 {
    color: var(--color-1);
    font-size: 35px;
}

.banner-text p {
    color: var(--color-1);
    font-size: 14px;
    margin: 30px 0;
    line-height: 25px;
    font-weight: lighter;
}

.banner-btn a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    background: var(--color-3);
    border: 1px solid var(--color-3);
    color: var(--color-1);
    border-radius: 8px;
    font-size: 14px;
}

.banner-btn a:hover {
    background: transparent;
    border: 1px solid var(--color-1);
    transition: 0.5s;
}

/* ------------------- */

/* section home-servicos */

.home-servicos-bg {
    background-image: url('../img/foto3.png');
    background-position: center;
    background-size: cover;
}

.home-servicos-title {
    padding: 50px 0;
}

.home-servicos-title h2 {
    color: var(--color-2);
}

.home-servicos-card:not(:last-child) {
    margin-bottom: 80px;
}

.home-servicos-card-text:not(:last-child) {
    padding-bottom: 50px;
}

.underline {
    border-bottom: 2px solid var(--color-3);
    padding: 0 0 10px 10px;
}

.underline h3 {
    color: var(--color-2);
    font-size: 24px;
    font-weight: normal;
}

.home-servicos-card-text p {
    font-size: 14px;
    line-height: 20px;
    margin: 30px 0;
    font-weight: lighter;
}

.home-servicos-card-img img {
    max-width: 70%;
}

.home-servicos-btn a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    color: var(--color-1);
    border-radius: 8px;
    font-size: 14px;
}

.home-servicos-btn a:nth-child(1) {
    background: var(--color-3);
    border: 1px solid var(--color-3);
    margin-right: 10px;
}

.home-servicos-btn a:nth-child(1):hover {
    background: transparent;
    color: var(--color-3);
    transition: 0.5s;
}

.home-servicos-btn a:nth-child(2) {
    color: var(--color-3);
    border: 1px solid var(--color-3);
}

.home-servicos-btn a:nth-child(2):hover {
    background: var(--color-3);
    color: var(--color-1);
    transition: 0.5s;
}

/* --------------------- */

/* section home-equipe */

.home-equipe-bg {
    background-image: url('../img/foto4.png');
    background-position: center;
    background-size: 100% 100%;
    padding: 100px 0 80px 0;
}

.right {
    margin-right: 10px;
}

.home-equipe-text {
    padding: 0 10px;
}

.home-equipe-text h2 {
    color: var(--color-2);
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
}

.home-equipe-text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.home-equipe-btn a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    background: var(--color-3);
    border: 1px solid var(--color-3);
    color: var(--color-1);
    border-radius: 8px;
    font-size: 14px;
}

.home-equipe-btn a:hover {
    background: transparent;
    color: var(--color-3);
    transition: 0.5s;
}

.home-equipe-card {
    width: 33.3%;
    padding: 10px;
}

.home-equipe-imgs {
    background: var(--color-4);
}

.home-equipe-card-img img {
    max-width: 100%;
}

.home-equipe-card-title h3 {
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

/* ------------------------ */

/* section home-valores */

.home-valores-bg {
    background: var(--color-2);
    padding: 50px 0;
}

.home-valores-title h2 {
    color: var(--color-5);
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 50px;
}

.home-valores-text {
    padding-right: 20px;
}

.home-valores-text p {
    font-size: 14px;
    color: var(--color-1);
    font-weight: lighter;
    margin-bottom: 30px;
    line-height: 20px;
}

.home-valores-img img {
    max-width: 100%;
}

.home-valores-btn {
    margin-top: 30px;
}

.home-valores-btn a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    background: var(--color-3);
    border: 1px solid var(--color-3);
    color: var(--color-1);
    border-radius: 8px;
    font-size: 14px;
}

.home-valores-btn a:hover {
    background: transparent;
    border: 1px solid var(--color-1);
    transition: 0.5s;
}

/* -------------------------- */

@media(max-width: 768px){

    /* section banner */

    .banner-text, .banner-btn {
        width: 100%;
    }

    /* ----------------------- */

    /* section home-servicos */

    .home-servicos-card {
        flex-direction: column;
    }

    .home-servicos-card-text, .home-servicos-card-img {
        width: 100%;
    }

    .home-servicos-card-text {
        margin-bottom: 30px;
    }

    .underline {
        width: 80%;
    }

    .home-servicos-card-img img {
        max-width: 100%;
    }

    /* ------------------------ */

    /* section home-equipe */

    .home-equipe-cont {
        flex-direction: column;
    }

    .home-equipe-text, .home-equipe-imgs {
        width: 100%;
    }

    .home-equipe-text {
        margin-bottom: 30px;
        padding: 0;
    }

    /* ------------------------ */

    /* section home-valores */

    .home-valores-cont {
        flex-direction: column;
    }

    .home-valores-text, .home-valores-img {
        width: 100%;
    }

    .home-valores-text {
        padding-right: 0;
    }

    /* ------------------------ */
}